<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accesorios para Moto Meyer</title>
</head>
<body>

  <!-- Header with Logo and Title -->
  <div class="header">
    <img src="assets/Logo_Meyer.jpg" alt="Logo de Accesorios para Moto Meyer">
    <h1>Accesorios para Moto Meyer</h1>
  </div>
<br><br>
<h1 style="text-align: center;">ENTREGAS EN ZONA CENTRO, MERCADO, PLAZUELA JUAREZ O PUNTO MEDIO SOLO EN HUEJUTLA</h1>
<br>



  <!-- Product Container -->
  <div class="product-container">
<!-- --------------------------- -->


<!-- Product 13 --> 
<div class="card" data-name="Accesorio 13" data-price="$300">
  <img src="assets/kawa.jpeg" alt="Accesorio 13">
  <h2>Modelo a escala Kawasaki Ninja 400</h2>
  <h2>$300</h2>
  <p>MSZ-motocicleta clásica de aleación de fundición a presión, modelo estático, escala 1:12, Kawasaki Ninja 400</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Modelo%20a%20escala%20Kawasaki%20Ninja%20400%20-%20$300" class="btn-contact">Contactar por WhatsApp</a>
</div>


<!-- Product 15 -->
<div class="card" data-name="Accesorio 15" data-price="$300">
  <img src="assets/accesorios/IMG-20241120-WA0156.jpg" alt="Accesorio 15">
  <h2>Modelo escala de Kawasaki Ninja H2R</h2>
  <h2>$300</h2>
  <p>Modelo de motocicleta CCA a escala 1:12 Kawasaki Ninja H2R, modelo de motocicleta.</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Modelo%20escala%20de%20Kawasaki%20Ninja%20H2R%20-%20$300" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 21 -->
<div class="card" data-name="Accesorio 21" data-price="$230">
  <img src="assets/accesorios/IMG-20241120-WA0162.jpg" alt="Accesorio 21">
  <h2>BMW S1000RR</h2>
  <h2>$300</h2>
  <p>BMW S1000RR motocicleta a escala 1:12</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20BMW%20S1000RR%20-%20$300" class="btn-contact">Contactar por WhatsApp</a>
</div>


<!-- Product 19 -->
<div class="card" data-name="Moto a escala HONDA CBR1000RR-R" data-price="$250">
  <img src="assets/Moto a escala HONDA CBR1000RR-R.PNG" alt="Imagen del producto">
  <h2>Moto a escala HONDA CBR1000RR-R</h2>
  <h2>$230</h2>
  <p>Excelente modelo de moto HONDA CBR1000RR-R de tamaño a escala 1:18</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Moto%20a%20escala%20HONDA%20CBR1000RR-R%20-%20$230" class="btn-contact">Contactar por WhatsApp</a>
</div>



<!-- Product 13 -->
<div class="card" data-name="Accesorio 13" data-price="$230">
  <img src="assets/accesorios/IMG-20241120-WA0154.jpg" alt="Accesorio 13">
  <h2>Modelo a escala Suzuki GSX-R1000</h2>
  <h2>$230</h2>
  <p>MSZ-motocicleta clásica de aleación de fundición a presión, modelo estático, escala 1:18, Suzuki, GSX-R1000</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Modelo%20a%20escala%20Suzuki%20GSX-R1000%20-%20$230" class="btn-contact">Contactar por WhatsApp</a>
</div>


<!-- Product 13 --> 
<div class="card" data-name="Accesorio 13" data-price="$230">
  <img src="assets/yamaha r1.PNG" alt="Accesorio 13">
  <h2>Modelo a escala Yamaha YZF-R1</h2>
  <h2>$230</h2>
  <p>MSZ-motocicleta Yamaha YZF-R1, escala 1:18, coche de aleación, coche de juguete para niños, modelo de motocicleta fundido a presión</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Modelo%20a%20escala%20Yamaha%20YZF-R1%20-%20$230" class="btn-contact">Contactar por WhatsApp</a>
</div>






<!-- Product 11 -->
<div class="card" data-name="Accesorio 11" data-price="$150">
  <img src="assets/accesorios/IMG-20241120-WA0152.jpg" alt="Accesorio 11">
  <h2>Modelo a escala deportiva negro</h2>
  <h2>$150</h2>
  <p>Modelo de oficina, Diecast, motocicleta, simulación portátil, escala 1:18</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Modelo%20a%20escala%20deportiva%20negro%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 12 -->
<div class="card" data-name="Accesorio 12" data-price="$150">
  <img src="assets/accesorios/IMG-20241120-WA0153.jpg" alt="Accesorio 12">
  <h2>Modelo a escala Naked negro</h2>
  <h2>$150</h2>
  <p>Modelo de oficina, Diecast, motocicleta, simulación portátil, escala 1:18</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Modelo%20a%20escala%20Naked%20negro%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 18 -->
<div class="card" data-name="Moto a escala KNIGHT ROJA" data-price="$150">
  <img src="assets/Moto a escala KNIGHT ROJA.PNG" alt="Imagen del producto">
  <h2>Moto a escala KNIGHT ROJA</h2>
  <h2>$150</h2>
  <p>Excelente modelo de moto KNIGHT de tamaño a escala 1:18</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Moto%20a%20escala%20KNIGHT%20ROJA%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>




<!-- Product 14 -->
<div class="card" data-name="Accesorio 14" data-price="$150">
  <img src="assets/accesorios/IMG-20241120-WA0155.jpg" alt="Accesorio 14">
  <h2>Modelo a escala deportiva roja</h2>
  <h2>$150</h2>
  <p>Modelo de oficina, Diecast, motocicleta, simulación portátil, escala 1:18</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Modelo%20a%20escala%20deportiva%20roja%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>



<!-- Product  --> 
<div class="card" data-name="Accesorio 13" data-price="$200">
  <img src="assets/rayomc.PNG" alt="Accesorio 13">
  <h2>Vehículo de juguete con control remoto Rayo McQueen</h2>
  <h2>$200</h2>
  <p>Vehículo de juguete con control remoto, inspirado en Rayo McQueen. Ideal para niños, fácil de manejar y divertido.</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Vehículo%20de%20juguete%20con%20control%20remoto%20Rayo%20McQueen%20-%20$200" class="btn-contact">Contactar por WhatsApp</a>
</div>



<!-- ------------------------------------------------- -->

<!-- Product 9 -->
<div class="card" data-name="Accesorio 9" data-price="$150">
  <img src="assets/accesorios/IMG-20241120-WA0150.jpg" alt="Accesorio 9">
  <h2>Reloj deportivo con colgante de motocicleta</h2>
  <h2>$150</h2>
  <p>Reloj deportivo Luminoso a la moda, calendario, fecha, colgante de motocicleta.</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Reloj%20deportivo%20con%20colgante%20de%20motocicleta%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>


<!-- Product 13 -->
<div class="card" data-name="Reloj de pulsera de cuarzo con calendario" data-price="$150">
  <img src="assets/Reloj de pulsera de cuarzo con calendario.PNG" alt="Imagen del producto">
  <h2>Reloj de pulsera de cuarzo con calendario</h2>
  <h2>$150</h2>
  <p>Conjunto de 5 piezas para Hombre, Reloj de pulsera de cuarzo con calendario, estilo Hip Hop, informal, de cuero</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20pulsera%20de%20cuarzo%20con%20calendario%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 14 -->
<div class="card" data-name="Reloj de cuarzo con correa de lona" data-price="$150">
  <img src="assets/Reloj de cuarzo con correa de lona.PNG" alt="Imagen del producto">
  <h2>Reloj de cuarzo con correa de lona</h2>
  <h2>$150</h2>
  <p>Reloj de cuarzo con correa de lona y tres ojos falsos para negocios, pulsera de cuero de lujo con puntero, calendario Digital romano, 4 piezas, nuevo</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20cuarzo%20con%20correa%20de%20lona%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 15 -->
<div class="card" data-name="Reloj de cuarzo con correa de nailon" data-price="$150">
  <img src="assets/Reloj de cuarzo con correa de nailon.PNG" alt="Imagen del producto">
  <h2>Reloj de cuarzo con correa de nailon</h2>
  <h2>$150</h2>
  <p>Reloj de cuarzo con correa de nailon para hombre, pulsera con calendario y cuentas, estilo informal, Ideal para regalo, 4 unidades por Set</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20cuarzo%20con%20correa%20de%20nailon%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 16 -->
<div class="card" data-name="Reloj de negocios informal" data-price="$150">
  <img src="assets/reloj de negocios informal.PNG" alt="Imagen del producto">
  <h2>Reloj de negocios informal</h2>
  <h2>$150</h2>
  <p>4 unidades, reloj de hombre, reloj de negocios informal de moda, juego de reloj de pulsera simple</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20negocios%20informal%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 17 -->
<div class="card" data-name="Reloj de pulsera de cuarzo par" data-price="$150">
  <img src="assets/Reloj de pulsera de cuarzo par.PNG" alt="Imagen del producto">
  <h2>Reloj de pulsera de cuarzo par</h2>
  <h2>$150</h2>
  <p>Reloj de pulsera de cuarzo para mujer y hombre, cronógrafo de acero inoxidable, informal, negocios par</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Reloj%20de%20pulsera%20de%20cuarzo%20par%20-%20$150" class="btn-contact">Contactar por WhatsApp</a>
</div>




<!-- Product 5 -->
<div class="card" data-name="Accesorio 5" data-price="$75">
  <img src="assets/accesorios/IMG-20241120-WA0146.jpg" alt="Accesorio 5">
  <h2>Película impermeable</h2>
  <h2>$75</h2>
  <p>Película impermeable, pegatina antiniebla, pegatina Universal de alta definición, accesorios para motocicleta</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Película%20impermeable%20-%20$75" class="btn-contact">Contactar por WhatsApp</a>
</div>






<!-- Product 23 -->
<div class="card" data-name="Accesorio 23" data-price="$70">
  <img src="assets/accesorios/IMG-20241120-WA0164.jpg" alt="Accesorio 23">
  <h2>Bocina eléctrica recargable</h2>
  <h2>$70</h2>
  <p>Bocina eléctrica recargable por USB para bicicleta, alarma antirrobo para ciclismo de montaña y carretera, accesorios para bicicleta</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20el%20producto:%20Bocina%20eléctrica%20recargable%20-%20$70" class="btn-contact">Contactar por WhatsApp</a>
</div>



    <!-- Product 3 -->
    <div class="card" data-name="Mangas De Protección UV para el sol azules" data-price="$50">
      <img src="assets/Mangas De Protección UV para el sol azules.PNG" alt="Imagen del producto">
      <h2>Mangas De Protección UV para el sol azules</h2>
      <h2>$50</h2>
      <p>Mangas De Protección UV para el sol azules</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Mangas%20De%20Protección%20UV%20para%20el%20sol%20azules%20-%20$50" class="btn-contact">Contactar por WhatsApp</a>
    </div>


    

    <!-- Product 7 -->
    <div class="card" data-name="Mini consola portátil" data-price="$120">
      <img src="assets/Mini consola portátil.PNG" alt="Imagen del producto">
      <h2>Mini consola portátil</h2>
      <h2>$120</h2>
      <p>Mini consola portátil retro de videojuegos portátil de 8 bits de color LCD de 3,0 pulgadas, juegos de 500 integrados</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Mini%20consola%20portátil%20-%20$120" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    

    <!-- Product 9 -->
    <div class="card" data-name="Tiras de pegatinas reflectantes" data-price="$70">
      <img src="assets/Tiras de pegatinas reflectantes.PNG" alt="Imagen del producto">
      <h2>Tiras de pegatinas reflectantes</h2>
      <h2>$70</h2>
      <p>Tiras de pegatinas reflectantes para llanta de motocicleta, calcomanías exteriores para rueda de coche, 16 piezas, 17</p>
      <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Tiras%20de%20pegatinas%20reflectantes%20-%20$70" class="btn-contact">Contactar por WhatsApp</a>
    </div>

    

<!-- Product 11 -->
<div class="card" data-name="Máscaras faciales resistentes a los rayos UV" data-price="$50">
  <img src="assets/máscaras faciales resistentes a los rayos UV.PNG" alt="Imagen del producto">
  <h2>Máscaras faciales resistentes a los rayos UV</h2>
  <h2>$50</h2>
  <p>Máscaras faciales resistentes a los rayos UV</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Máscaras%20faciales%20resistentes%20a%20los%20rayos%20UV%20-%20$50" class="btn-contact">Contactar por WhatsApp</a>
</div>

<!-- Product 12 -->
<div class="card" data-name="Monitor inteligente A9 HD Wifi" data-price="$120">
  <img src="assets/Monitor inteligente A9 HD Wifi.PNG" alt="Imagen del producto">
  <h2>Monitor inteligente A9 HD Wifi</h2>
  <h2>$120</h2>
  <p>Monitor inteligente A9 HD Wifi, cámaras de vigilancia, Sensor, videocámara Web, vídeo, seguridad del hogar, inalámbrico</p>
  <a href="https://wa.me/7713535455/?text=Hola.%20Me%20interesa%20conocer%20más%20acerca%20de%20este%20producto:%20Monitor%20inteligente%20A9%20HD%20Wifi%20-%20$120" class="btn-contact">Contactar por WhatsApp</a>
</div>

</div>

</body>
</html>