<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
   
</head>
<body>
    <header class="header">
      <img src="assets/Logo_Meyer.jpg" alt="Logo de Accesorios para Moto Meyer">
        <h1>{{ title }}</h1>
    </header>
    <div class="product-container">
        <div class="card" *ngFor="let item of datos">
            <img (click)="openModal(item)" [src]="item.Imagen" alt="Imagen del producto">
            <h2>{{ item.Nombre }}</h2>
            <p>{{ item.Descripcion }}</p>
            <p><strong>Precio:</strong> ${{ item.Precio_publico }}</p>
            <a class="btn-contact" [href]="'https://wa.me/7713535455?text=' + encodeURIComponent('Hola, estoy interesado en el producto: ' + item.Nombre + ' - ' + item.Descripcion + ' - Precio: ' + item.Precio_publico)" target="_blank">Comprar por WhatsApp</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <img [src]="selectedProduct?.Imagen" alt="Imagen del producto">
            <h2>{{ selectedProduct?.Nombre }}</h2>
            <p>{{ selectedProduct?.Descripcion }}</p>
            <p><strong>Precio:</strong> ${{ selectedProduct?.Precio_publico }}</p>
        </div>
    </div>

</body>
</html>
